<!-- Image and text -->
<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    {{!-- <img src="/img/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy"> --}}
    Bandeira
  </a>

  <form class="form-inline my-2 my-lg-0">
    <a href="/login/sair"> <button class="btn btn-danger  my-2 my-sm-0" type="button">Sair</button></a> 
  </form>
</nav>