<div class="card mx-auto" style="width: 50%;">
    <div class="card-body">

      <form class="px-4 py-3" action="/login/entrar" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" placeholder="email@exemplo.com">
        </div>
        <div class="form-group">
          <label for="senha">Senha</label>
          <input type="password" class="form-control" name="senha" placeholder="Senha">
        </div>
          <button type="submit" class="btn btn-primary">Entrar</button>
      </form>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/criar_conta">Criar conta</a>
      {{!-- <a class="dropdown-item" href="#">Esqueci minha senha?</a> --}}
    </div>
</div>